.button {
    background-color: #05076e;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 8px;
}

.button:focus {
    transform: scale(0.9);
}

.button:hover {
    cursor: pointer;
}