.button {
    background-color: #05076e;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 8px;
}

.button:hover.button,
.button:focus {
    cursor: pointer;
    animation: pulsing 1s cubic-bezier(.02, .9, .58, 1) forwards;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}