.main-carousel {
    padding: 40px 0;
}

.carousel-cell {
    width: auto;
    height: auto;
    margin-right: 20px;
}

.world {
    position: relative;
    border-radius: 100%;
    line-height: 300px;
    width: 300px;
    height: 300px;
    /* border: 2px solid red; */
    text-align: center;
}

.world p {
    position: relative;
    line-height: 300px;
    margin: 0;
    z-index: 10;
    color: white;
}

.world img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: 0;
}

.world::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0, .2), rgb(0, 0, 0, .2));
    z-index: 5;
}

.world:hover p,
.world:focus p {
    transform: scale(1.5);
    transition: .3s
}

@media (max-width:768px) {
    .world {
        width: 200px;
        height: 200px;
        line-height: 200px;
        pointer-events: none;
    }
    .world p {
        line-height: 200px;
    }
    .flickity-page-dots {
        display: none;
    }
}

.voce {
    height: 50px;
    width:fit-content;
    min-width: 100px;
    text-align: center;
}