@import url("./standard/standard.css");
@import url("./helpers/helpers.css");
@import url("./components/bootstrap.css");

/* spazio per personalizzare il css della pagina */

#bg-grid-missions.column {
    background: linear-gradient(0deg, rgb(0, 0, 0, .5) 70%, rgb(0, 0, 0, .8)), url("../media/images/Inferno_Squad_mission.jpg") center center no-repeat;
}

#bg-grid-characters.column {
    background: linear-gradient(0deg, rgb(0, 0, 0, .3) 70%, rgb(0, 0, 0, .8)), url("../media/images/Inferno_Squad.jpg") center center no-repeat;
}

#bg-grid-missions.column,
#bg-grid-characters.column {
    background-size: cover;
    display: flex;
    align-items: center;
}

#bg-grid-missions.column *,
#bg-grid-characters.column * {
    width: 100%;
    transform: scale(0);
    color: rgb(255, 255, 255, .001);
}

#bg-grid-missions.column:hover *,
#bg-grid-characters.column:hover * {
    display: block;
    /* animation: fade-in 1s cubic-bezier(.215, .61, .355, 1) .5s forwards; */
    transform: scale(1);
    color: rgb(255, 255, 255);
    transition: 1s cubic-bezier(.215, .61, .355, 1);
    transition-delay: .5s;
}

@media (max-width:768px) {
    #bg-grid-missions.column,
    #bg-grid-characters.column {
        height: 50%;
        background-position: center center;
    }
    #bg-grid-missions.column:hover *,
    #bg-grid-characters.column:hover * {
        display: block;
    }
    #bg-grid-missions.column *,
    #bg-grid-characters.column * {
        transform: scale(1);
        width: 100%;
    }
}

#missioni,
#personaggi {
    transform: scale(0);
}