@import url("./helpers/helpers.css");
@import url("./components/bootstrap.css");
@import url("./standard/standard.css");
.util-container {
    display: flex;
    align-items: baseline;
    /* justify-content: space-around; */
    justify-items: left;
}

.chr-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
}

.chr-list li {
    /* border: 2px solid #666; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* padding-left: 0; */
    width: 100%;
    /* margin-bottom: 10px; */
    /* font-size: 20px; */
    color: #666;
    border: 2px solid transparent;
    justify-content: space-between
}

.chr-list li * {
    margin: 0;
    padding: 0;
}

.chr-list li.title {
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 30px;
    height: auto;
    position: relative;
    z-index: 5;
}

.arrow span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #666;
    border-radius: 4px;
}

.chr-list li:last-child {
    margin-bottom: 0;
}

.chr-list li:not(.title):hover {
    /* background: linear-gradient(0deg, rgb(102, 102, 102, .4), rgb(102, 102, 102, .4)); */
    border: 2px solid #666;
}


/* cell number */


/* position dots up a bit */

.flickity-page-dots {
    bottom: -22px;
}


/* dots are lines */

.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}