/* Stanfard properties */

* {
    box-sizing: border-box;
}

.group {
    display: flow-root;
}


/* More base styles */

body {
    font-family: 'Inter', sans-serif;
    color: black;
    scrollbar-width: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: inherit;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


/* Text sizes */

.smalltxt {
    font-size: 14px;
}

.normaltxt {
    font-size: 20px;
}

.medtxt {
    font-size: 40px;
}

.bigtxt {
    font-size: 70px;
}

.introtxt {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100%;
    max-width: 1350px;
    top: 0;
    left: 50%;
    display: flex;
    /* background-color: rgb(42, 42, 44); */
    background: transparent;
    color: white;
    padding: 30px;
    transform: translate(-50%);
}


/* menu */

.menu {
    width: 100%;
    list-style: none;
    margin: auto 0;
    /* border: 2px solid red; */
}

.menu li {
    color: white;
    display: inline-block;
    margin-right: 20px;
    /* border: 2px solid red; */
}

.menu li a {
    color: white;
}

@media (max-width:768px) {
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.9));
        padding-top: 80px;
        transform-origin: center center;
        transform: translateY(-100vh);
        transition: .3s ease-in-out;
    }
    .menu.menu-show {
        display: block;
        transform: translateY(0vh);
    }
    .hide-hero__content {
        /* transform: translateY(100vh); */
        display: none;
    }
    .menu li {
        display: block;
        padding-top: 40px;
        padding-left: 20px;
    }
    .bigtxt {
        font-size: 40px;
    }
    .introtxt {
        font-size: 20px;
    }
}

.logo {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: auto 0;
    /* border: 2px solid red; */
}


/* cta */

.cta {
    color: white;
    margin: auto 0;
    margin-left: 80px;
    width: 300px;
}

@media (max-width:768px) {
    .cta {
        display: none;
    }
}


/* button */

.button {
    background-color: rgb(5, 7, 110);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 8px;
}

.button:focus {
    transform: scale(0.9);
}


/* hero */

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0, .3) 70%, rgb(0, 0, 0, .9)), url("../media/images/Hero_background_fullhd.jpg") no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.hero__content {
    width: 100%;
    max-width: 1350px;
    padding: 30px;
    margin: 0 auto;
    color: white;
    /* transform: translateY(0vh); */
    transition: .5s ease-in-out;
}


/* hamburger */

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .hamburger span {
        width: 100%;
        height: 5px;
        border-radius: 8px;
        background-color: white;
        display: block;
        margin-bottom: 10px;
    }
}


/* Colori */


/* rgb(49, 47, 47, .8) Bel grigio */