/* Stanfard properties */

* {
    box-sizing: border-box;
}

.group {
    display: flow-root;
}


/* More base styles */

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: black;
}


img{
    width: inherit;
    height: auto;
}

/* Text sizes */

.smalltxt {
    font-size: 14px;
}

.normaltxt {
    font-size: 20px;
}

.medtxt{
    font-size: 40px;
}

.bigtxt {
    font-size: 70px;
}

.introtxt{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/* menu */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgb(42, 42, 44);
    color: white;
    padding: 10px;
}

.menu {
    width: 100%;
    list-style: none;
    margin: auto 0;
}

.menu li {
    color: white;
    display: inline-block;
    margin-right: 30px;
    
}

.menu li a {
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
}

.cta{
    color: white;
    margin: auto 0;
    padding-right: 20px;
}